<h1 style="text-align: center; background-color: rgb(87, 84, 84);">About</h1>

<mat-card>
<mat-card  class="block" style="width: 60%; margin: 10px auto;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="color: green;"></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="justify-content: center">
        <p>
        Agrilog is a new revoutionary system dedicated to help farmers spend more time with the things that matters, we aim to provide a plateform dedicated to make farm management easier for every day to day task. The system aims to replace the well known "Black book" found in every farmers car.
        The system is asimple to use platform making it possible to keep track of tasks, vehicles, staff, equipment, farm sections, faults , maintenance and the general upkeep of the farm.
        </p>
        <br/>
        <img src="../../assets/img/crop.jpg"/>
      </mat-card-content>
</mat-card>



</mat-card>