mat-header-cell{
    background-color: rgb(48, 139, 48);
    font-size: 16px;
}
mat-card{
    max-width: 600px;
    margin-left:22%;

}

.buttons{
    border-radius: 10px;
  }

  .p-0{
    height: 70%;
    position: fixed;
    overflow: auto;
}