<div fxLayout="row"  fxFlexAlgin="auto" fxLayoutAlign="center center" class="h-100" [fxFlex] style="overflow: auto">
  <form [formGroup]="form" fxFlex="100">
       <mat-card class="p-0 mat-elevation-z24 box register">
           <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
               <button mat-fab color="accent" class="mat-elevation-z12" routerLink="">
                   <mat-icon>person_add</mat-icon>
               </button>
               <a mat-button routerLink="">Already have an account? Sign in!</a>
           </div>
           <mat-card-content fxLayout="column" class="box-content">
               <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                 <h1>Register</h1>
                   <mat-form-field class="w-100">
                     <input matInput placeholder="Company Name" (keypress)="omit_special_char($event)" formControlName="name" [(ngModel)] = "InsuranceAdd.IP_Name" required>
                     <mat-error *ngIf="form.controls.name.errors?.required">Insurance Provider Name is required</mat-error>
                     <mat-error *ngIf="form.controls.name.hasError('minlength')">Insurance Provider Name isn't long enough, minimum of 3 characters</mat-error>
                   </mat-form-field>
                   <mat-form-field class="w-100">
                   <input matInput placeholder="VAT Number" formControlName="vat" (keypress)="omit_special_char_Let($event)" maxlength="11" [(ngModel)] = "InsuranceAdd.IP_VAT_Number" required>
                     <mat-error *ngIf="form.controls.vat.errors?.required">VAT Number</mat-error>
                     <mat-error *ngIf="form.controls.vat.hasError('minlength')">VAT Number is invalid</mat-error>
                   </mat-form-field>
                   <mat-form-field class="w-100">
                     <input matInput placeholder="Registration Number" formControlName="registration" (keypress)="omit_special_char_Let($event)" maxlength="13"  [(ngModel)] = "InsuranceAdd.IP_Reg_Number" required>
                       <mat-error *ngIf="form.controls.registration.errors?.required">Registration Number is required</mat-error>
                       <mat-error *ngIf="form.controls.registration.hasError('maxlength')">Registration Number invalid</mat-error>
                     </mat-form-field>
                     <mat-form-field class="w-100">
                         <input matInput placeholder="Phone Number" maxlength="10" formControlName="number" (keypress)="omit_special_char_Let($event)" maxlength="10" [(ngModel)] = "InsuranceAdd.IP_Phone_Number" required>
                           <mat-error *ngIf="form.controls.number.errors?.required">Phone Number is required</mat-error>
                           <mat-error *ngIf="form.controls.number.hasError('minlength')">Phone Number invalid</mat-error>
                         </mat-form-field>
                   <mat-form-field class="w-100">
                       <input matInput placeholder="Email" type="email" formControlName="email"  [(ngModel)] ="InsuranceAdd.User_Email" (blur) = "CheckEmail()" required>
                       <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                       <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                   </mat-form-field>
                   <mat-form-field class="w-100">
                       <input matInput placeholder="Password" formControlName="password" type="password" minlength="6"  [(ngModel)] = "InsuranceAdd.User_Password" required>
                       <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                       <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                   </mat-form-field>
                   <mat-form-field class="w-100">
                     <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
                     <mat-error *ngIf="form.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                     <mat-error *ngIf="form.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>
                   </mat-form-field>
                   </mat-card>
               <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" (click)="postInsuranceProvider()">SIGN UP</button>
           </mat-card-content>
       </mat-card>
  </form>
</div>
