<div>
    <h1> Staff Members Clocked-in for the Day</h1>
    
    <!---------------------------------------------------------------------------------------------------------------------------------------->
    <div>
    <!--Task Table-->
            <mat-table  #table [dataSource]="dataSource" class="mat-elevation-z8">       
                <ng-container matColumnDef="Staff_ID">
                    <mat-header-cell *matHeaderCellDef> ID Number </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Staff_ID}} </mat-cell>
                </ng-container>         
                   
                <ng-container matColumnDef="Staff_Name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Staff_Name}} </mat-cell>
                </ng-container>        
                <ng-container matColumnDef="Staff_Surname">
                    <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Staff_Surname}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Staff_Phone_Number">
                    <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Staff_Phone_Number}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Clock_in_Time">
                        <mat-header-cell *matHeaderCellDef> Clocked-in Time </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.Clocked_In_Time}} </mat-cell>
                    </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>  
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 15]"></mat-paginator>      
        </div>
    </div>
    
    