<h1 style="text-align: center;">Farms</h1>
<button mat-raised-button color="primary" (click)="changeform()" class="m-1">View Farm</button>
<button mat-raised-button color="primary" (click)="Download()" class="m-1">Download</button>
<div fxLayout="column" fxflex="center">
  <div class="flex-p" *ngIf = "showtable">
      <div fxLayout="column" class="mat-elevation-z8" >
          <mat-form-field class="p-1">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter all columns">
          </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- <ng-container matColumnDef="Farm ID">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Farm_ID}} </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="Farm Name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Farm_Name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Farm Type">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Farm_Type_Description}} </mat-cell>
          </ng-container>    
          <ng-container matColumnDef="Farm Size">
              <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Farm_Size}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Farm Address">
              <mat-header-cell *matHeaderCellDef> Address</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Farm_Address}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Province">
              <mat-header-cell *matHeaderCellDef> Province </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Province_Description}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Farm Email">
              <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Farm_Email}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Farm Number">
              <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Farm_ContactNumber}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Active">
              <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Is_Active}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[15, 20]"></mat-paginator>
  </div>
</div>
